.button {
    min-width: fit-content;
    border: 3px solid var(--secondary-color);
    cursor: pointer;
    border-radius: .5rem;
    font-weight: bold;
}
.button:hover{
    box-shadow: 1px 1px 1px 1px black;
}
.primary{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.secondary{
    background-color: var(--background-color);
    color: var(--secondary-color);
}
.small{
    width:6rem;
    height: 3rem;
}
.medium{
    width: 10rem;
    height: 3rem;
}
.large{
    width:14rem;
    height: 3rem;
}