.search{
    width: 22rem;
    height: 3rem;
    min-width: fit-content;
    background-color: var(--primary-color);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content:flex-start;
    padding-left: .5rem;
    border-radius: .6rem;
}
input {
    width: full;
    height: 2rem;
    background-color: var(--primary-color);
    border:none;
    margin-left:.5rem ;
    font-size: var(--text-size);
}
input:focus{
    outline: none;
}
.icon {
    width: 1.5rem;
    height: auto;
    color: var(--secondary-text-color);
}