.adContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: column nowrap;
    gap:4vh;
}

.adPosterContainer {
    width: 100%;
    height: 20vh;
    background-color: var(--background-color);
    position: relative;
    overflow: hidden;
}

.ad {
 height: 100%;
}

.adOnReddit {
    width: 100%;
    height: 20vh;
    background-color: var(--background-color);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: end;
    margin-bottom: 1rem;
}